# .gitignore
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore .terraform.lock.hcl files
.terraform.lock.hcl

# Crash log files
crash.log

# Ignore plan output files
plan.out

# Ignore Infracost directories and files
.infracost

# Other Files
*.log
*.bak
*.swp
*.tmp
*.gz
*.tgz
*.tar
