repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-symlinks
  #      - id: no-commit-to-branch

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 2.2.44
    hooks:
      - id: checkov
        verbose: true
        args: [--soft-fail]
